<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taobao.cun.auge.dal.mapper.AccountMoneyMapper">
  <resultMap id="BaseResultMap" type="com.taobao.cun.auge.dal.domain.AccountMoney">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="is_deleted" jdbcType="CHAR" property="isDeleted" />
    <result column="taobao_user_id" jdbcType="VARCHAR" property="taobaoUserId" />
    <result column="frozen_time" jdbcType="TIMESTAMP" property="frozenTime" />
    <result column="thaw_time" jdbcType="TIMESTAMP" property="thawTime" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="target_type" jdbcType="VARCHAR" property="targetType" />
    <result column="object_id" jdbcType="BIGINT" property="objectId" />
    <result column="alipay_account" jdbcType="VARCHAR" property="alipayAccount" />
  </resultMap>
</mapper>