<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taobao.cun.auge.dal.mapper.CuntaoQualificationExtMapper" >
  
   <select id="queryQualification" resultMap="com.taobao.cun.auge.dal.mapper.CuntaoQualificationMapper.BaseResultMap" parameterType="com.taobao.cun.auge.station.condition.CuntaoQualificationPageCondition" >
	select cq.* from partner_station_rel psr,cuntao_qualification cq,station s,cuntao_org org where psr.is_deleted = 'n' and s.is_deleted = 'n' 
		and psr.is_current='y'  and cq.is_deleted ='n' and s.apply_org = org.id
		and cq.partner_instance_id = psr.id  and psr.station_id = s.id
		<include refid="query_condition" />  
  </select>
 
  <sql id="query_condition" >
  		<if test="invalidPartnerInstanceStatus != null and  invalidPartnerInstanceStatus.size() != 0" >
			and psr.state  not in 
			<foreach collection="invalidPartnerInstanceStatus" item="status" open="(" close=")" separator="," >
				#{status}
			</foreach>
		</if>
		<if test="userTypes != null and  userTypes.size() != 0" >
			and psr.type   in 
			<foreach collection="userTypes" item="userType" open="(" close=")" separator="," >
				#{userType}
			</foreach>
		</if>
		<if test="orgIdPaths != null and  orgIdPaths.size() != 0" >
			and
			<foreach collection="orgIdPaths" item="orgIdPath" open="(" close=")" separator="or" >
				 concat(org.temp_full_id_path, '/') like concat(#{orgIdPath,jdbcType=VARCHAR}, '/%')
			</foreach>
		</if>
  </sql>
  
  
   <select id="selectC2BTestUsers" resultType="java.lang.Long"  parameterType="com.taobao.cun.auge.station.condition.CuntaoQualificationPageCondition" >
   		select psr.taobao_user_id from partner_station_rel psr,station s,cuntao_org org
		where psr.is_deleted= 'n' 
		and s.is_deleted= 'n'
		and psr.station_id = s.id
		and s.apply_org = org.id
	    <include refid="query_condition" />  
   </select>
</mapper>