<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taobao.cun.auge.dal.mapper.CuntaoFlowRecordMapper" >
  <resultMap id="BaseResultMap" type="com.taobao.cun.auge.dal.domain.CuntaoFlowRecord" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="target_id" property="targetId" jdbcType="BIGINT" />
    <result column="target_type" property="targetType" jdbcType="VARCHAR" />
    <result column="node_title" property="nodeTitle" jdbcType="VARCHAR" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="operator_workid" property="operatorWorkid" jdbcType="VARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="operate_opinion" property="operateOpinion" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="flow_id" property="flowId" jdbcType="BIGINT" />
    <result column="trace_id" property="traceId" jdbcType="VARCHAR" />
  </resultMap>
</mapper>