<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taobao.cun.auge.dal.mapper.ExPartnerMapper">
	<select id="selectByAlilangUserId" parameterType="string" resultMap="com.taobao.cun.auge.dal.mapper.PartnerMapper.BaseResultMap">
		select a.* from partner a,partner_station_rel b
		 where  a.is_deleted='n' and b.is_deleted='n'
		 and a.id=b.partner_id and b.is_current='y'
		 and   a.alilang_user_id=#{alilanguserId} and b.type='TP'
		 and b.state in('SETTLING','SERVICING','DECORATING','QUITING')
	</select>
</mapper>