<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taobao.cun.auge.dal.mapper.ExPartnerMapper">
	<select id="selectByAlilangUserId" parameterType="string" resultMap="com.taobao.cun.auge.dal.mapper.PartnerMapper.BaseResultMap">
		select * from partner where alilang_user_id=#{alilanguserId} and is_deleted='n' and state='NORMAL'
	</select>
</mapper>