<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taobao.cun.auge.dal.mapper.PartnerStationRelExtMapper">
  <resultMap id="PartnerInstanceMap" type="com.taobao.cun.auge.dal.domain.PartnerInstance">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="is_deleted" jdbcType="CHAR" property="isDeleted" />
    <result column="station_id" jdbcType="BIGINT" property="stationId" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="service_begin_time" jdbcType="TIMESTAMP" property="serviceBeginTime" />
    <result column="service_end_time" jdbcType="TIMESTAMP" property="serviceEndTime" />
    <result column="partner_id" jdbcType="BIGINT" property="partnerId" />
    <result column="parent_station_id" jdbcType="BIGINT" property="parentStationId" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="applier_id" jdbcType="VARCHAR" property="applierId" />
    <result column="bit" jdbcType="INTEGER" property="bit" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="open_date" jdbcType="TIMESTAMP" property="openDate" />
    <result column="is_current" jdbcType="CHAR" property="isCurrent" />
    <result column="applier_type" jdbcType="VARCHAR" property="applierType" />
    <result column="close_type" jdbcType="VARCHAR" property="closeType" />
    <result column="station_apply_id" jdbcType="BIGINT" property="stationApplyId" />
    
    <!-- pepole -->
     <result column="partner_name" jdbcType="VARCHAR" property="partnerName" />
    <result column="alipay_account" jdbcType="VARCHAR" property="alipayAccount" />
    <result column="taobao_user_id" jdbcType="BIGINT" property="taobaoUserId" />
    <result column="taobao_nick" jdbcType="VARCHAR" property="taobaoNick" />
    <result column="iden_num" jdbcType="VARCHAR" property="idenNum" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="partner_description" jdbcType="VARCHAR" property="partnerDescription" />
    <result column="partner_state" jdbcType="VARCHAR" property="partnerState" />
    
    
    <!-- station -->
    <result column="station_name" jdbcType="VARCHAR" property="stationName" />
    <result column="station_description" jdbcType="VARCHAR" property="stationDescription" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="town" jdbcType="VARCHAR" property="town" />
    <result column="province_detail" jdbcType="VARCHAR" property="provinceDetail" />
    <result column="city_detail" jdbcType="VARCHAR" property="cityDetail" />
    <result column="county_detail" jdbcType="VARCHAR" property="countyDetail" />
    <result column="town_detail" jdbcType="VARCHAR" property="townDetail" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="apply_org" jdbcType="BIGINT" property="applyOrg" />
    <result column="taobao_user_id" jdbcType="BIGINT" property="taobaoUserId" />
    <result column="station_num" jdbcType="VARCHAR" property="stationNum" />
    <result column="lng" jdbcType="VARCHAR" property="lng" />
    <result column="lat" jdbcType="VARCHAR" property="lat" />
    <result column="village" jdbcType="VARCHAR" property="village" />
    <result column="village_detail" jdbcType="VARCHAR" property="villageDetail" />
    <result column="covered" jdbcType="VARCHAR" property="covered" />
    <result column="products" jdbcType="VARCHAR" property="products" />
    <result column="logistics_state" jdbcType="VARCHAR" property="logisticsState" />
    <result column="format" jdbcType="VARCHAR" property="format" />
    <result column="area_type" jdbcType="VARCHAR" property="areaType" />
    <result column="manager_id" jdbcType="VARCHAR" property="managerId" />
    <result column="provider_id" jdbcType="BIGINT" property="providerId" />
    <result column="feature" jdbcType="VARCHAR" property="feature" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="fixed_type" jdbcType="VARCHAR" property="fixedType" />
  </resultMap>
  
  <select id="selectPartnerInstancesByExample" resultMap="PartnerInstanceMap" parameterType="com.taobao.cun.auge.dal.example.PartnerInstanceExample" >
		select 
		
		instance.*,
		
		p.name as partner_name,
		p.alipay_account,
		p.taobao_user_id,
		p.taobao_nick,
		p.iden_num,
		p.mobile,
		p.email,
		p.business_type,
		p.description as partner_description,
		p.state as partner_state,
		
		s.name as station_name,
		s.description as station_description,
		s.province,
		s.city,
		s.county,
		s.town,
		s.province_detail,
		s.city_detail,
		s.county_detail,
		s.town_detail,
		s.address,
		s.apply_org,
		s.station_num,
		s.lng,
		s.lat,
		s.village,
		s.village_detail,
		s.covered,
		s.products,
		s.logistics_state,
		s.format,
		s.area_type,
		s.manager_id,
		s.provider_id,
		s.feature,
		s.status,
		s.fixed_type 
		
		from partner_station_rel instance,partner p,station s 
		
		where instance.partner_id = p.id and instance.station_id=s.id and instance.is_deleted = 'n' and s.is_deleted='n' and p.is_deleted='n' 

	<include refid="partner_station_query_condition" />
	
    <if test="orderByClause != null and orderByClause != ''" >
      order by ${orderByClause}
    </if>
  </select>
  
   <sql id="partner_station_query_condition" >
		<if test="orgIds != null" >
			and s.apply_org in 
			<foreach collection="orgIds" item="orgId" open="(" close=")" separator="," >
				#{orgId}
			</foreach>
		</if>
	  	<if test="stationNum != null and stationNum != ''" >
			and s.station_num = #{stationNum,jdbcType=VARCHAR}
		</if>
		<if test="stationName != null and stationName != ''" >
			and s.name like concat('%', #{stationName,jdbcType=VARCHAR}, '%')
		</if>
		<if test="province != null and province != ''" >
			and s.province = #{province,jdbcType=VARCHAR}
		</if>
		<if test="city != null and city != ''" >
			and s.city = #{city,jdbcType=VARCHAR}
		</if>
		<if test="county != null and county != ''" >
			and s.county = #{county,jdbcType=VARCHAR}
		</if>
		<if test="town != null and town != ''" >
			and s.town = #{town,jdbcType=VARCHAR}
		</if>
		<if test="managerId != null and managerId != ''" >
			and s.manager_id = #{managerId,jdbcType=VARCHAR}
		</if>
		<if test="providerId != null" >
			and s.provider_id = #{providerId,jdbcType=BIGINT}
		</if>
		
		<if test="partnerType != null and partnerType != ''" >
			and instance.type = #{partnerType,jdbcType=VARCHAR}
		</if>
		<if test="partnerState != null and partnerState != ''" >
			and instance.state = #{partnerState,jdbcType=VARCHAR}
		</if>
		<if test="taobaoNick != null and taobaoNick != ''" >
			and p.taobao_nick = #{taobaoNick,jdbcType=VARCHAR}
		</if>
		<if test="partnerName != null and partnerName != ''" >
			and p.name = #{partnerName,jdbcType=VARCHAR}
		</if>
   </sql>
   <select id="getWaitThawMoney" resultType="java.lang.Long" parameterType="java.util.Map" >
   <![CDATA[
   		select psr.id from partner_station_rel psr,partner_lifecycle_items pli
		where psr.is_deleted= 'n' 
		and pli.is_deleted= 'n' 
		and psr.partner_id = p.id 
		and psr.id = pli.partner_instance_id 
		and psr.state =#{partnerState,jdbcType=VARCHAR}
		and pli.current_step =#{currentStep,jdbcType=VARCHAR}
		and pli.business_type = #{businessType,jdbcType=VARCHAR}
		
		and psr.service_end_time <= #{serviceEndTime,jdbcType=TIMESTAMP}
	 ]]>
   </select>
</mapper>