<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taobao.cun.auge.dal.mapper.PartnerStationRelExtMapper">
  <resultMap id="PartnerInstanceMap" type="com.taobao.cun.auge.dal.domain.PartnerInstance">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="is_deleted" jdbcType="CHAR" property="isDeleted" />
    <result column="station_id" jdbcType="BIGINT" property="stationId" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="service_begin_time" jdbcType="TIMESTAMP" property="serviceBeginTime" />
    <result column="service_end_time" jdbcType="TIMESTAMP" property="serviceEndTime" />
    <result column="partner_id" jdbcType="BIGINT" property="partnerId" />
    <result column="parent_station_id" jdbcType="BIGINT" property="parentStationId" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="applier_id" jdbcType="VARCHAR" property="applierId" />
    <result column="bit" jdbcType="INTEGER" property="bit" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="open_date" jdbcType="TIMESTAMP" property="openDate" />
    <result column="is_current" jdbcType="CHAR" property="isCurrent" />
    <result column="applier_type" jdbcType="VARCHAR" property="applierType" />
    <result column="close_type" jdbcType="VARCHAR" property="closeType" />
    <result column="station_apply_id" jdbcType="BIGINT" property="stationApplyId" />
    <result column="version" jdbcType="BIGINT" property="version" />
    
    <!-- 合伙人层级 -->
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="expected_level" jdbcType="VARCHAR" property="expectedLevel" />
    
    
    <!-- pepole -->
     <result column="partner_name" jdbcType="VARCHAR" property="partnerName" />
    <result column="alipay_account" jdbcType="VARCHAR" property="alipayAccount" />
    <result column="taobao_user_id" jdbcType="BIGINT" property="taobaoUserId" />
    <result column="taobao_nick" jdbcType="VARCHAR" property="taobaoNick" />
    <result column="iden_num" jdbcType="VARCHAR" property="idenNum" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="partner_description" jdbcType="VARCHAR" property="partnerDescription" />
    <result column="partner_state" jdbcType="VARCHAR" property="partnerState" />
    
    
    <!-- station -->
    <result column="station_name" jdbcType="VARCHAR" property="stationName" />
    <result column="station_description" jdbcType="VARCHAR" property="stationDescription" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="town" jdbcType="VARCHAR" property="town" />
    <result column="province_detail" jdbcType="VARCHAR" property="provinceDetail" />
    <result column="city_detail" jdbcType="VARCHAR" property="cityDetail" />
    <result column="county_detail" jdbcType="VARCHAR" property="countyDetail" />
    <result column="town_detail" jdbcType="VARCHAR" property="townDetail" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="apply_org" jdbcType="BIGINT" property="applyOrg" />
    <result column="taobao_user_id" jdbcType="BIGINT" property="taobaoUserId" />
    <result column="station_num" jdbcType="VARCHAR" property="stationNum" />
    <result column="lng" jdbcType="VARCHAR" property="lng" />
    <result column="lat" jdbcType="VARCHAR" property="lat" />
    <result column="village" jdbcType="VARCHAR" property="village" />
    <result column="village_detail" jdbcType="VARCHAR" property="villageDetail" />
    <result column="covered" jdbcType="VARCHAR" property="covered" />
    <result column="products" jdbcType="VARCHAR" property="products" />
    <result column="logistics_state" jdbcType="VARCHAR" property="logisticsState" />
    <result column="format" jdbcType="VARCHAR" property="format" />
    <result column="area_type" jdbcType="VARCHAR" property="areaType" />
    <result column="manager_id" jdbcType="VARCHAR" property="managerId" />
    <result column="provider_id" jdbcType="BIGINT" property="providerId" />
    <result column="feature" jdbcType="VARCHAR" property="feature" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="fixed_type" jdbcType="VARCHAR" property="fixedType" />
    
    <!-- 生命周期表 -->
    <result column="lifecycle_business_type" jdbcType="VARCHAR" property="lifecycleBusinessType" />
    <result column="settled_protocol" jdbcType="VARCHAR" property="settledProtocol" />
    <result column="bond" jdbcType="VARCHAR" property="bond" />
    <result column="quit_protocol" jdbcType="VARCHAR" property="quitProtocol" />
    <result column="logistics_approve" jdbcType="VARCHAR" property="logisticsApprove" />
    <result column="current_step" jdbcType="VARCHAR" property="currentStep" />
    <result column="role_approve" jdbcType="VARCHAR" property="roleApprove" />
    <result column="confirm" jdbcType="VARCHAR" property="confirm" />
    <result column="system" jdbcType="VARCHAR" property="system" />
    
    <!-- 县服务中心-->
    <result column="county_station_name" jdbcType="VARCHAR" property="countyStationName" />
  </resultMap>
  
  <select id="selectPartnerInstancesByExample" resultMap="PartnerInstanceMap" parameterType="com.taobao.cun.auge.dal.example.PartnerInstanceExample" >
		select 
		
		instance.*,
		
		p.name as partner_name,
		p.alipay_account,

		p.taobao_nick,
		p.iden_num,
		p.mobile,
		p.email,
		p.business_type,
		p.description as partner_description,
		p.state as partner_state,
		
		s.name as station_name,
		s.description as station_description,
		s.province,
		s.city,
		s.county,
		s.town,
		s.province_detail,
		s.city_detail,
		s.county_detail,
		s.town_detail,
		s.address,
		s.apply_org,
		s.station_num,
		s.lng,
		s.lat,
		s.village,
		s.village_detail,
		s.covered,
		s.products,
		s.logistics_state,
		s.format,
		s.area_type,
		s.manager_id,
		s.provider_id,
		s.feature,
		s.status,
		s.fixed_type,
		org.name as county_station_name
		
		<if test="partnerType == null or partnerType == '' or partnerType == 'TP' or partnerType == 'tp' " >
		,
		level.current_level as level,
		level.expected_level
		</if>
		
		<if test="partnerState == 'SETTLING' or partnerState == 'CLOSING' or partnerState == 'QUITING'" >
			,
			life.business_type as lifecycle_business_type,
			life.settled_protocol,
			life.bond,
			life.quit_protocol,
			life.logistics_approve,
			life.current_step,
			life.role_approve,
			life.confirm,
			life.system
		</if>
		
		from partner_station_rel instance
		<if test="partnerType == null or partnerType == '' or partnerType == 'TP' or partnerType == 'tp' " >
			left join partner_instance_level level on level.partner_instance_id=instance.id and level.is_valid='y' and level.is_deleted='n'
		</if>
		

		<if test="courseStatus !=null and courseStatus !=''">
        left join partner_course_record course on instance.taobao_user_id=course.partner_user_id and course.is_deleted='n' and course.course_type='APPLY_IN'
 		</if>
 		
        <if test="decorateStatus != null and decorateStatus !=''">
        left join station_decorate decorate on instance.taobao_user_id=decorate.partner_user_id and decorate.is_deleted='n' and decorate.is_valid='y'
		</if>
		
		,partner p,station s,cuntao_org org
		<if test="partnerState == 'SETTLING' or partnerState == 'CLOSING' or partnerState == 'QUITING'" >
			, partner_lifecycle_items life
		</if>
		
		where instance.partner_id = p.id and instance.station_id=s.id and s.apply_org = org.id
		and instance.is_deleted = 'n' and s.is_deleted='n' and p.is_deleted='n' and org.is_deleted='n'
		
		<if test="partnerType == null or partnerType == '' or partnerType == 'TP' or partnerType == 'tp' " >
			<if test="partnerInstanceLevel != null and  partnerInstanceLevel=='SP'">
		   	 and level.expected_level is not null
			</if>
			<if test="partnerInstanceLevel != null and partnerInstanceLevel!='' and  partnerInstanceLevel!='SP'">
		   	 and level.current_level = #{partnerInstanceLevel,jdbcType=VARCHAR}
			</if>
		</if>
		
		<if test="partnerState == 'SETTLING' or partnerState == 'CLOSING' or partnerState == 'QUITING'" >
			and instance.id = life.partner_instance_id
		</if>
		
		<if test="courseStatus !=null and courseStatus !=''">
        	and course.status=#{courseStatus,jdbcType=VARCHAR}
    	</if>
 
    	<if test="decorateStatus != null and decorateStatus !=''">
    	    and decorate.status=#{decorateStatus,jdbcType=VARCHAR}
    	</if>
		
		<include refid="partner_station_query_condition" />
		
		<if test="partnerState == 'SETTLING' or partnerState == 'CLOSING' or partnerState == 'QUITING'" >
			<include refid="partner_lifecycle_items_condition" />
		</if>
		order by instance.gmt_modified desc
  </select>
  
   <sql id="partner_station_query_condition" >
		<if test="orgIdPath != null and orgIdPath != ''" >
			and concat(org.temp_full_id_path, '/') like concat(#{orgIdPath,jdbcType=VARCHAR}, '/%')
		</if>
	  	<if test="stationNum != null and stationNum != ''" >
			and s.station_num = #{stationNum,jdbcType=VARCHAR}
		</if>
		<if test="stationName != null and stationName != ''" >
			and s.name like concat('%', #{stationName,jdbcType=VARCHAR}, '%')
		</if>
		<if test="province != null and province != ''" >
			and s.province = #{province,jdbcType=VARCHAR}
		</if>
		<if test="city != null and city != ''" >
			and s.city = #{city,jdbcType=VARCHAR}
		</if>
		<if test="county != null and county != ''" >
			and s.county = #{county,jdbcType=VARCHAR}
		</if>
		<if test="town != null and town != ''" >
			and s.town = #{town,jdbcType=VARCHAR}
		</if>
		<if test="managerId != null and managerId != ''" >
			and s.manager_id = #{managerId,jdbcType=VARCHAR}
		</if>
		<if test="providerId != null" >
			and s.provider_id = #{providerId,jdbcType=BIGINT}
		</if>
		<if test="parentStationId != null" >
			and instance.parent_station_id = #{parentStationId,jdbcType=BIGINT}
		</if>
		<if test="partnerType != null and partnerType != ''" >
			and instance.type = #{partnerType,jdbcType=VARCHAR}
		</if>
		<if test="partnerState != null and partnerState != ''" >
			and instance.state = #{partnerState,jdbcType=VARCHAR}
		</if>
		<if test="isCurrent != null and isCurrent != ''" >
			and instance.is_current = #{isCurrent,jdbcType=VARCHAR}
		</if>
		<if test="taobaoNick != null and taobaoNick != ''" >
			and p.taobao_nick = #{taobaoNick,jdbcType=VARCHAR}
		</if>
		<if test="partnerName != null and partnerName != ''" >
			and p.name = #{partnerName,jdbcType=VARCHAR}
		</if>
   </sql>
   
   
   <sql id="partner_lifecycle_items_condition" >
        <if test="businessType != null and businessType != ''" >
			and life.business_type = #{businessType,jdbcType=VARCHAR}
		</if>
		<if test="currentStep != null and currentStep != ''" >
			and life.current_step = #{currentStep,jdbcType=VARCHAR}
		</if>
		<if test="settledProtocol != null and settledProtocol != ''" >
			and life.settled_protocol 
			<if test="settledProtocolOp == true" >
			= 
			</if>
			<if test="settledProtocolOp != true" >
			!=
			</if>
			#{settledProtocol,jdbcType=VARCHAR}
		</if>
		<if test="bond != null and bond != ''" >
			and life.bond 
			<if test="bondOp == true" >
			= 
			</if>
			<if test="bondOp != true" >
			!=
			</if>
			#{bond,jdbcType=VARCHAR}
		</if>
		<if test="roleApprove != null and roleApprove != ''" >
			and life.role_approve 
			<if test="roleApproveOp == true" >
			= 
			</if>
			<if test="roleApproveOp != true" >
			!=
			</if>
			#{roleApprove,jdbcType=VARCHAR}
		</if>
		<if test="quitProtocol != null and quitProtocol != ''" >
			and life.quit_protocol 
			<if test="quitProtocolOp == true" >
			= 
			</if>
			<if test="quitProtocolOp != true" >
			!=
			</if>
			#{quitProtocol,jdbcType=VARCHAR}
		</if>
		<if test="logisticsApprove != null and logisticsApprove != ''" >
			and life.logistics_approve 
			<if test="logisticsApproveOp == true" >
			= 
			</if>
			<if test="logisticsApproveOp != true" >
			!=
			</if>
			#{logisticsApprove,jdbcType=VARCHAR}
		</if>
		<if test="confirm != null and confirm != ''" >
			and life.confirm 
			<if test="confirmOp == true" >
			= 
			</if>
			<if test="confirmOp != true" >
			!=
			</if>
			#{confirm,jdbcType=VARCHAR}
		</if>
		<if test="system != null and system != ''" >
			and life.system 
			<if test="systemOp == true" >
			= 
			</if>
			<if test="systemOp != true" >
			!=
			</if>
			#{system,jdbcType=VARCHAR}
		</if>
   </sql>
   
   <select id="getWaitThawMoney" resultType="java.lang.Long" parameterType="java.util.Map" >
   <![CDATA[
   		select psr.id from partner_station_rel psr,partner_lifecycle_items pli
		where psr.is_deleted= 'n' 
		and pli.is_deleted= 'n' 
		and psr.id = pli.partner_instance_id 
		and psr.state =#{partnerState,jdbcType=VARCHAR}
		and pli.current_step =#{currentStep,jdbcType=VARCHAR}
		and pli.business_type = #{businessType,jdbcType=VARCHAR}
		and pli.role_approve = #{roleApprove,jdbcType=VARCHAR}
		and pli.bond = #{bond,jdbcType=VARCHAR}
		and psr.service_end_time <= #{serviceEndTime,jdbcType=TIMESTAMP}
	 ]]>
   </select>

   <resultMap id="StationStatusMap" type="com.taobao.cun.auge.dal.domain.ProcessedStationStatus">
	<result column="status" jdbcType="VARCHAR" property="status" />
	<result column="count" jdbcType="INTEGER" property="count" />
</resultMap>

	<select id="countProcessedStatus" resultMap="StationStatusMap" parameterType="com.taobao.cun.auge.station.condition.StationStatisticsCondition">
	SELECT concat_ws('_',"ED",instance.state) as status,count(1) as count
	FROM partner_station_rel instance
	INNER JOIN station s on instance.station_id= s.id AND s.is_deleted='n' AND instance.is_deleted='n'
	INNER JOIN partner p on instance.partner_id= p.id and p.is_deleted ='n'
	INNER JOIN cuntao_org org on org.id= s.apply_org AND org.is_deleted='n'
	<if test="type == null or type == '' or type == 'TP' or type == 'tp' " >
	LEFT JOIN partner_instance_level level on level.partner_instance_id=instance.id and level.is_valid='y' and level.is_deleted='n'
	</if>
	WHERE (concat_ws('_',instance.state) = 'QUIT'
	OR concat_ws('_',instance.state) = 'CLOSED'
	OR concat_ws('_',instance.state) = 'SERVICING'
	OR concat_ws('_',instance.state) = 'DECORATING'
	)
	<include refid="station_statistics_query_condition" />
	
	<if test="type == null or type == '' or type == 'TP' or type == 'tp' " >
		<if test="level != null and  level=='SP'">
	   	 and level.expected_level is not null
		</if>
		<if test="level != null and level != '' and  level != 'SP'">
	   	 and level.current_level = #{level,jdbcType=VARCHAR}
		</if>
	</if>
	GROUP BY concat_ws('_',instance.state);
	</select>
		
	<select id="countProcessingStatus" resultMap="StationStatusMap" parameterType="com.taobao.cun.auge.station.condition.StationStatisticsCondition">
	SELECT
	concat_ws('_',"ING",instance.state,life.settled_protocol,life.role_approve,life.bond,life.system) as status,count(1) as count
	FROM partner_station_rel instance
	INNER JOIN partner_lifecycle_items life on
	life.partner_instance_id=instance.id AND life.is_deleted= 'n' AND
	instance.is_deleted= 'n'
	INNER JOIN station s on instance.station_id= s.id AND s.is_deleted='n'
	INNER JOIN cuntao_org org on org.id= s.apply_org AND org.is_deleted='n'
	INNER JOIN partner p on p.id = instance.partner_id AND p.is_deleted='n'
	<if test="type == null or type == '' or type == 'TP' or type == 'tp' " >
	LEFT JOIN partner_instance_level level on level.partner_instance_id=instance.id and level.is_valid='y' and level.is_deleted='n'
	</if>
	WHERE life.current_step ='PROCESSING'
	<include refid="station_statistics_query_condition" />
	
	<if test="type == null or type == '' or type == 'TP' or type == 'tp' " >
		<if test="level != null and  level=='SP'">
	   	 and level.expected_level is not null
		</if>
		<if test="level != null and level != '' and  level != 'SP'">
	   	 and level.current_level = #{level,jdbcType=VARCHAR}
		</if>
	</if>
	GROUP BY
	concat_ws('_',instance.state,life.settled_protocol,life.role_approve,life.bond,life.system)
	</select>
		
	<select id="countCourseStatus" resultMap="StationStatusMap" parameterType="com.taobao.cun.auge.station.condition.StationStatisticsCondition">
	SELECT concat_ws("_","COR",course.status) as status,count(1) as count
	FROM partner_station_rel instance
	INNER JOIN station s on instance.station_id= s.id AND s.is_deleted='n' 
	INNER JOIN cuntao_org org on org.id= s.apply_org AND org.is_deleted='n'
	INNER JOIN partner p on p.id = instance.partner_id AND p.is_deleted='n'
	INNER JOIN partner_course_record course on course.partner_user_id =
	p.taobao_user_id AND course.is_deleted= 'n' and
	course.course_type='APPLY_IN'
	<if test="type == null or type == '' or type == 'TP' or type == 'tp' " >
	LEFT JOIN partner_instance_level level on level.partner_instance_id=instance.id and level.is_valid='y' and level.is_deleted='n'
	</if>
	WHERE
	instance.is_deleted= 'n'
	AND instance.state='DECORATING'
	<include refid="station_statistics_query_condition" />
	
	<if test="type == null or type == '' or type == 'TP' or type == 'tp' " >
		<if test="level != null and  level=='SP'">
	   	 and level.expected_level is not null
		</if>
		<if test="level != null and level != '' and  level != 'SP'">
	   	 and level.current_level = #{level,jdbcType=VARCHAR}
		</if>
	</if>
	GROUP BY course.status ;
	</select>
	
	<select id="countDecorateStatus" resultMap="StationStatusMap" parameterType="com.taobao.cun.auge.station.condition.StationStatisticsCondition">
	SELECT concat_ws("_","DEC",decorate.status) as status,count(1) as count
	FROM partner_station_rel instance
	INNER JOIN station s on instance.station_id= s.id AND s.is_deleted='n'
	INNER JOIN cuntao_org org on org.id= s.apply_org AND org.is_deleted= 'n'
	INNER JOIN station_decorate decorate on decorate.station_id =s.id AND
	decorate.is_deleted= 'n' AND decorate.is_valid ='Y' AND instance.taobao_user_id=decorate.partner_user_id
	INNER JOIN partner p on p.id = instance.partner_id AND p.is_deleted='n'
	<if test="type == null or type == '' or type == 'TP' or type == 'tp' " >
	LEFT JOIN partner_instance_level level on level.partner_instance_id=instance.id and level.is_valid='y' and level.is_deleted='n'
	</if>
	WHERE instance.is_deleted= 'n' 
	AND instance.state='DECORATING'
	<include refid="station_statistics_query_condition" />
	
	<if test="type == null or type == '' or type == 'TP' or type == 'tp' " >
		<if test="level != null and  level=='SP'">
	   	 and level.expected_level is not null
		</if>
		<if test="level != null and level != '' and  level != 'SP'">
	   	 and level.current_level = #{level,jdbcType=VARCHAR}
		</if>
	</if>
	GROUP BY decorate.status ;
	</select>
	
	<sql id="station_statistics_query_condition">
	<if test="orgId!=null and orgId!=''">
		and concat(org.temp_full_id_path, '/') like concat(#{orgId,jdbcType=VARCHAR}, '/%')
	</if>
	<if test="stationName!=null and stationName!=''">
		and s.name like concat('%', #{stationName,jdbcType=VARCHAR}, '%')
	</if>
	<if test="state!=null and state!=''">
		and instance.state = #{state,jdbcType=VARCHAR}
	</if>
	<if test="taobaoUserName!=null and taobaoUserName!=''">
		and p.taobao_nick = #{taobaoUserName,jdbcType=VARCHAR}
	</if>
	<if test="province!=null and province!=''">
		and s.province = #{province,jdbcType=VARCHAR}
	</if>
	<if test="city!=null and city!=''">
		and s.city = #{city,jdbcType=VARCHAR}
	</if>
	<if test="county!=null and county!=''">
		and s.county = #{county,jdbcType=VARCHAR}
	</if>
	<if test="town!=null and town!=''">
		and s.town = #{town,jdbcType=VARCHAR}
	</if>
	<if test="type!=null and type!=''">
		and instance.type = #{type,jdbcType=VARCHAR}
	</if>
	<if test="stationNum!=null and stationNum!=''">
		and s.station_num = #{stationNum,jdbcType=VARCHAR}
	</if>
	</sql>
</mapper>