<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taobao.cun.auge.dal.mapper.PartnerStationRelMapper" >
  <resultMap id="BaseResultMap" type="com.taobao.cun.auge.dal.domain.PartnerStationRel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="station_id" property="stationId" jdbcType="BIGINT" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="service_begin_time" property="serviceBeginTime" jdbcType="TIMESTAMP" />
    <result column="service_end_time" property="serviceEndTime" jdbcType="TIMESTAMP" />
    <result column="partner_id" property="partnerId" jdbcType="BIGINT" />
    <result column="parent_station_id" property="parentStationId" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="applier_id" property="applierId" jdbcType="VARCHAR" />
    <result column="bit" property="bit" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="open_date" property="openDate" jdbcType="TIMESTAMP" />
    <result column="is_current" property="isCurrent" jdbcType="CHAR" />
    <result column="applier_type" property="applierType" jdbcType="VARCHAR" />
    <result column="close_type" property="closeType" jdbcType="VARCHAR" />
    <result column="station_apply_id" property="stationApplyId" jdbcType="BIGINT" />
  </resultMap>
</mapper>