<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taobao.cun.auge.dal.mapper.StationMapper" >
  <resultMap id="BaseResultMap" type="com.taobao.cun.auge.dal.domain.Station" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="alipay_account" property="alipayAccount" jdbcType="VARCHAR" />
    <result column="taobao_nick" property="taobaoNick" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="town" property="town" jdbcType="VARCHAR" />
    <result column="province_detail" property="provinceDetail" jdbcType="VARCHAR" />
    <result column="city_detail" property="cityDetail" jdbcType="VARCHAR" />
    <result column="county_detail" property="countyDetail" jdbcType="VARCHAR" />
    <result column="town_detail" property="townDetail" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="apply_org" property="applyOrg" jdbcType="BIGINT" />
    <result column="taobao_user_id" property="taobaoUserId" jdbcType="BIGINT" />
    <result column="station_num" property="stationNum" jdbcType="VARCHAR" />
    <result column="lng" property="lng" jdbcType="VARCHAR" />
    <result column="lat" property="lat" jdbcType="VARCHAR" />
    <result column="village" property="village" jdbcType="VARCHAR" />
    <result column="village_detail" property="villageDetail" jdbcType="VARCHAR" />
    <result column="covered" property="covered" jdbcType="VARCHAR" />
    <result column="products" property="products" jdbcType="VARCHAR" />
    <result column="logistics_state" property="logisticsState" jdbcType="VARCHAR" />
    <result column="format" property="format" jdbcType="VARCHAR" />
    <result column="area_type" property="areaType" jdbcType="VARCHAR" />
    <result column="manager_id" property="managerId" jdbcType="VARCHAR" />
    <result column="provider_id" property="providerId" jdbcType="BIGINT" />
    <result column="feature" property="feature" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="fixed_type" property="fixedType" jdbcType="VARCHAR" />
  </resultMap>
</mapper>