<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taobao.cun.auge.dal.mapper.StationMapper">
  <resultMap id="BaseResultMap" type="com.taobao.cun.auge.dal.domain.Station">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="alipay_account" jdbcType="VARCHAR" property="alipayAccount" />
    <result column="taobao_nick" jdbcType="VARCHAR" property="taobaoNick" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="is_deleted" jdbcType="CHAR" property="isDeleted" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="town" jdbcType="VARCHAR" property="town" />
    <result column="province_detail" jdbcType="VARCHAR" property="provinceDetail" />
    <result column="city_detail" jdbcType="VARCHAR" property="cityDetail" />
    <result column="county_detail" jdbcType="VARCHAR" property="countyDetail" />
    <result column="town_detail" jdbcType="VARCHAR" property="townDetail" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="apply_org" jdbcType="BIGINT" property="applyOrg" />
    <result column="taobao_user_id" jdbcType="BIGINT" property="taobaoUserId" />
    <result column="station_num" jdbcType="VARCHAR" property="stationNum" />
    <result column="lng" jdbcType="VARCHAR" property="lng" />
    <result column="lat" jdbcType="VARCHAR" property="lat" />
    <result column="village" jdbcType="VARCHAR" property="village" />
    <result column="village_detail" jdbcType="VARCHAR" property="villageDetail" />
    <result column="covered" jdbcType="VARCHAR" property="covered" />
    <result column="products" jdbcType="VARCHAR" property="products" />
    <result column="logistics_state" jdbcType="VARCHAR" property="logisticsState" />
    <result column="format" jdbcType="VARCHAR" property="format" />
    <result column="area_type" jdbcType="VARCHAR" property="areaType" />
    <result column="manager_id" jdbcType="VARCHAR" property="managerId" />
    <result column="provider_id" jdbcType="BIGINT" property="providerId" />
    <result column="feature" jdbcType="VARCHAR" property="feature" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="fixed_type" jdbcType="VARCHAR" property="fixedType" />
  </resultMap>
</mapper>