<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taobao.cun.auge.dal.mapper.TownBlacknameMapper">
  <select id="countBlackname" parameterType="map" resultType="int">
  	select count(0) from town_blackname where
  	county_name=#{countyName}
  	and town_name=#{townName}
  </select>
</mapper>