<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taobao.cun.auge.dal.mapper.TownBlacknameMapper">
  <select id="countBlackname" parameterType="map" resultType="int">
  	select count(0) from town_blackname where
  	county_name=#{countyName}
  	and town_name=#{townName}
  	and white_name = 'N'
  </select>
  
  <select id="countWhitename" parameterType="map" resultType="int">
  	select count(0) from town_blackname where
  	county_name=#{countyName}
  	and town_name=#{townName}
  	and white_name = 'Y'
  </select>
  
  <insert id="insertInBlacknamePartnerApply" parameterType="long">
  insert into town_blackname_apply(gmt_create,gmt_modified,partner_apply_id)values(NOW(),NOW(),#{partnerApplyId})
  </insert>
</mapper>