<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="xfsm" class="com.alibaba.shared.xfsm.support.spring.engine.DefaultXFSMEngine">
        <property name="registry" ref="registry"/>
        <!-- 设置一些全局变量 (所有流程共享)-->
        <property name="globals">
            <map>
                <entry key="xxx" value="12345" />
            </map>
        </property>
    </bean>

    <bean id="registry" class="com.alibaba.shared.xfsm.support.spring.registry.DefaultStateMachineRegistry">
    </bean>

</beans>
