<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taobao.cun.auge.dal.mapper.ext.CuntaoCountyExtMapper">
  <select id="getCuntaoCountyGovContract" parameterType="map" resultMap="com.taobao.cun.auge.dal.mapper.CuntaoCountyGovContractMapper.BaseResultMap">
  select * from cuntao_county_gov_contract where county_id=#{countyId} and is_deleted='n'
  </select>
  
  <select id="getCuntaoCountyGovProtocol" parameterType="map" resultMap="com.taobao.cun.auge.dal.mapper.CuntaoCountyGovProtocolMapper.BaseResultMap">
  select * from cuntao_county_gov_protocol where county_id=#{countyId}  and is_deleted='n' and state='valid'
  </select>
  
  <select id="getCuntaoCountyGovContacts" parameterType="map" resultMap="com.taobao.cun.auge.dal.mapper.CuntaoCountyGovContactMapper.BaseResultMap">
  select * from cuntao_county_gov_contact where county_id=#{countyId} and is_deleted='n' order by id desc
  </select>
  
  <select id="getCuntaoCountyOffice" parameterType="map" resultMap="com.taobao.cun.auge.dal.mapper.CuntaoCountyOfficeMapper.BaseResultMap">
  select * from cuntao_county_office where county_id=#{countyId} and is_deleted='n'
  </select>
  
  <select id="getCuntaoCountyOffices" parameterType="list" resultMap="com.taobao.cun.auge.dal.mapper.CuntaoCountyOfficeMapper.BaseResultMap">
  select * from cuntao_county_office where county_id in 
  <foreach collection="countyIds" item="countyId" separator="," open="(" close=")">#{countyId}</foreach>
  and is_deleted='n'
  </select>
  
  <select id="getCainiaoCounty" parameterType="map" resultMap="com.taobao.cun.auge.dal.mapper.CainiaoCountyMapper.BaseResultMap">
  select * from cainiao_county where county_id=#{countyId} and is_deleted='n'
  </select>
  
  <select id="getCuntaoCountyByOrgId" parameterType="map" resultMap="com.taobao.cun.auge.dal.mapper.CuntaoCountyMapper.BaseResultMap">
  select * from cuntao_county where org_id=#{orgId} and is_deleted='n'
  </select>
  
  <update id="invalidProtocols" parameterType="map">
  update cuntao_county_gov_protocol set state='invalid',gmt_modified=now(),modifier=#{operator} where county_id=#{countyId} and state='valid' and is_deleted='n'
  </update>
  
  <update id="deleteCuntaoCountyOffice" parameterType="map">
  update cuntao_county_office set is_deleted='y',gmt_modified=now(),modifier=#{operator} where county_id=#{countyId} and is_deleted='n'
  </update>
  
  <update id="updateCainiaoCountyStoreType" parameterType="map">
  update cainiao_county set gmt_modified=now(),modifier=#{operator},store_type=#{storeType}, where id=#{id}
  </update>
  
  <update id="updateCainiaoCountyId" parameterType="map">
  update cainiao_county set cainiao_county_id= #{caiNiaostationId} where county_id=#{countyId}
  </update>
  
  <select id="query" parameterType="com.taobao.cun.auge.cuncounty.dto.CuntaoCountyCondition" resultType="com.taobao.cun.auge.cuncounty.vo.CuntaoCountyListItemVO">
	SELECT
		a.id,
		a.name,
		a.state,
		b.gmt_protocol_start as gmtProtocolStartDate,
		b.gmt_protocol_end as gmtProtocolEndDate,
		operate_date as operateDate,
		org_id as orgId,
		full_name_path as fullNamePath,
		full_id_path as fullIdPath
	FROM
		(
		SELECT
			q1.*,
			q2.temp_full_id_path AS full_id_path,
			q2.temp_full_name_path AS full_name_path 
		FROM
			cuntao_county q1,cuntao_org q2 
		WHERE
			q1.org_id = q2.id 
			AND q1.is_deleted = 'n' 
			AND q2.is_deleted = 'n' 
			<if test="condition.state != null">
			and q1.state=#{condition.state}
			</if>
			<if test="condition.name != null">
			and q1.name like CONCAT('%', #{condition.name}, '%')
			</if>
			and CONCAT(q2.temp_full_id_path,'/') like CONCAT(#{condition.fullIdPath}, '/%') 
		) AS a
	LEFT JOIN ( SELECT * FROM cuntao_county_gov_contract WHERE is_deleted = 'n' ) AS b ON a.id = b.county_id
	where 1=1
	<if test="condition.protocolEndDateFrom != null"><![CDATA[and b.gmt_protocol_end >= #{condition.protocolEndDateFrom}]]></if>
	<if test="condition.protocolEndDateTo != null"><![CDATA[and b.gmt_protocol_end <= #{condition.protocolEndDateTo}]]></if>
	order by a.id desc
	limit #{condition.startItem},#{condition.pageSize}
  </select>
  
  <select id="count" parameterType="com.taobao.cun.auge.cuncounty.dto.CuntaoCountyCondition" resultType="int">
	SELECT count(0) FROM
		(
		SELECT
			q1.*,
			q2.temp_full_id_path AS full_id_path,
			q2.temp_full_name_path AS full_name_path 
		FROM
			cuntao_county q1,cuntao_org q2 
		WHERE
			q1.org_id = q2.id 
			AND q1.is_deleted = 'n' 
			AND q2.is_deleted = 'n' 
			<if test="condition.state != null">
			and q1.state=#{condition.state}
			</if>
			<if test="condition.name != null">
			and q1.name like CONCAT('%', #{condition.name}, '%')
			</if>
			and CONCAT(q2.temp_full_id_path,'/') like CONCAT(#{condition.fullIdPath}, '/%') 
		) AS a
	LEFT JOIN ( SELECT * FROM cuntao_county_gov_contract WHERE is_deleted = 'n' ) AS b ON a.id = b.county_id
	where 1=1
	<if test="condition.protocolEndDateFrom != null"><![CDATA[and b.gmt_protocol_end >= #{condition.protocolEndDateFrom}]]></if>
	<if test="condition.protocolEndDateTo != null"><![CDATA[and b.gmt_protocol_end <= #{condition.protocolEndDateTo}]]></if>
  </select>
  
  <select id="groupByState" parameterType="com.taobao.cun.auge.cuncounty.dto.CuntaoCountyCondition" resultType="map">
	SELECT state, count(0) as num FROM
		(
		SELECT
			q1.*,
			q2.temp_full_id_path AS full_id_path,
			q2.temp_full_name_path AS full_name_path 
		FROM
			cuntao_county q1,cuntao_org q2 
		WHERE
			q1.org_id = q2.id 
			AND q1.is_deleted = 'n' 
			AND q2.is_deleted = 'n' 
			<if test="condition.state != null">
			and q1.state=#{condition.state}
			</if>
			<if test="condition.name != null">
			and q1.name like CONCAT('%', #{condition.name}, '%')
			</if>
			and CONCAT(q2.temp_full_id_path,'/') like CONCAT(#{condition.fullIdPath}, '/%') 
		) AS a
	LEFT JOIN ( SELECT * FROM cuntao_county_gov_contract WHERE is_deleted = 'n' ) AS b ON a.id = b.county_id
	where 1=1
	<if test="condition.protocolEndDateFrom != null"><![CDATA[and b.gmt_protocol_end >= #{condition.protocolEndDateFrom}]]></if>
	<if test="condition.protocolEndDateTo != null"><![CDATA[and b.gmt_protocol_end <= #{condition.protocolEndDateTo}]]></if>
	group by state
	</select>
</mapper>