<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taobao.cun.auge.dal.mapper.ext.ExtFenceEntityMapper">
  <select id="selectStationQuitedFenceEntities" resultMap="com.taobao.cun.auge.dal.mapper.FenceEntityMapper.BaseResultMap">
  select a.* from fence_entity a,station b 
  	where a.station_id=b.id 
  	and a.is_deleted='n' 
  	and b.is_deleted='n'
  	and b.status='QUIT'
  </select>
  
  <select id="selectTypeChangedDefaultFenceEntities" parameterType="map" resultMap="com.taobao.cun.auge.dal.mapper.FenceEntityMapper.BaseResultMap">
  	select a.* from fence_entity a, partner_station_rel b
	where a.is_deleted='n' and b.is_deleted='n'
	and a.station_id=b.station_id
	and a.template_id in
	<foreach collection="templateIds" item="templateId" open="(" close=")" separator=",">#{templateId}</foreach>
  	<![CDATA[
	and b.state in('SERVICING','DECORATING','CLOSING')
	and b.type <> #{type}
  	]]>
  </select>
</mapper>