<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taobao.cun.auge.dal.mapper.ext.StationTransferExtMapper">
  <select id="getTransferStations" parameterType="string" resultType="com.taobao.cun.auge.station.transfer.dto.TransferStation">
    select a.id as stationId, 
    	a.name as stationName, 
    	b.open_date as openDate,
    	a.transfer_state as transferState,
    	b.type,b.state from station a,partner_station_rel b
		where a.is_deleted='n' and b.is_deleted='n'
		and a.id=b.station_id 
		and b.state in('SERVICING','CLOSING','DECORATING')
		and b.type in('TP','TPS') and b.is_current='y'
		and a.apply_org=#{orgId}
    </select>
    
    <update id="updateSubStationTransferState" parameterType="map">
    update station set transfer_state=#{tansferState} where id in(
	select station_id from partner_station_rel WHERE parent_station_id in
	<foreach collection="stationIds" item="stationId" open="(" close=")" separator=",">#{stationId}</foreach>
	 and is_deleted='n'
	)
    </update>
</mapper>